@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

:root {
  --bg: #030303;
  --fg: #ffffff;
  --secondaryFg: #b3b3b3;
  --containerBg: #272727;
  --searchBg: var(--containerBg);
  --scrollbarColor: #3f3f3f;
  --fontFamily: 'Roboto Mono', monospace;
  --configButtonBg: #555555;
  --configButtonColor: #ffffff;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f1f1f1;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

body {
  background-color: var(--bg);
  margin: 0px;
}



#clock {
  font-family: sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
  font-family: var(--fontFamily);
  color: var(--fg);
  margin-bottom: 0.25em;
}

#search {
  width: 100%;
  height: 100vh;
  background-color: var(--searchBg);
  display: none;
  position: absolute;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-field {
  width: 90%;
  padding: 0.75em 1em;
  box-sizing: border-box;
  background-color: var(--searchBg);
  border: solid 0px var(--searchBg);
  font-family: var(--fontFamily);
  font-size: 4rem;
  color: var(--fg);
  outline: none;
  border-radius: 3px;
  margin-bottom: 1em;
  text-align: center;
}

.weather-container {
  width: 30%;
  background-color: var(--containerBg);
  padding: 1em;
  border-radius: 3px;
  font-family: var(--fontFamily);
  color: var(--fg);
  text-align: center;
}
.inline {
  display: inline-block;
}

#bookmark-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 1em 0em;w
}


.bookmark-set {
  padding: 1em;
  background-color: var(--containerBg);
  border-radius: 3px;
  font-family: var(--fontFamily);
  font-size: 0.85rem;
  width: 25%;
  height: 12em;
  margin: 0em 0.5em;
  box-sizing: border-box;
}

.bookmark-inner-container {
  overflow-y: scroll;
  height: 80%;
  vertical-align: top;
  padding-right: 6px;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor) #ffffff00;
}

.bookmark-inner-container::-webkit-scrollbar {
  width: 6px;
}
.bookmark-inner-container::-webkit-scrollbar-track {
  background: #ffffff00;
}
.bookmark-inner-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
  border-radius: 6px;
  border: 3px solid #ffffff00;
}

.bookmark-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--fg);
  margin: 0em 0em 0.35em 0em;
}
.bookmark {
  text-decoration: none;
  color: var(--secondaryFg);
  display: block;
  margin: 0.5em 0em;
}
.bookmark:hover {
  color: var(--fg);
}
#config-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 20px;
  background-color: var(--containerBg);
  border-radius: 5px;
  font-family: var(--fontFamily);
  color: var(--fg);
  z-index: 999;
}

.config-item {
  margin-bottom: 15px;
}

.config-item label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--fg);
}

.config-item input[type="color"],
.config-item select {
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #000;
}

.config-item input[type="color"] {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.config-item select {
  width: 100%;
}

.config-item select option {
  font-family: var(--fontFamily);
}

h3 {
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--fg);
}
#config-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #555555;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#config-toggle::before {
  /*content: '\f013';*/
  /*font-family: 'Font Awesome 5 Free';*/
}
#config-close {
  margin-top: 10px;
  background-color: #555555;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
}

@media only screen and (max-width: 960px) {

  .container {
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #clock {
    margin-top: 0em;
    font-size: 3.5em;
  }

  .container > .sidebar,
  .container > .content {
    width: 100%;
    padding: 10px;
  }

  #bookmark-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 1em 0em;
  }

  .bookmark-set {
    padding: 1em;
    background-color: var(--containerBg);
    border-radius: 3px;
    font-family: var(--fontFamily);
    font-size: 0.85rem;
    width: calc(50% - 1em);
    height: 12em;
    margin: 0.5em;
    box-sizing: border-box;
  }

  .weather-container {
    width: 100%;
  }

  #config-toggle {
    position: fixed;
    bottom: 5%;
    right: 5%;
    top: auto;
    left: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #555555;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }


  #config-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: auto;
    left: auto;
    position: fixed;
    bottom: 5%;
    right: 5%;
    padding: 20px;
    background-color: var(--containerBg);
    border-radius: 5px;
    font-family: var(--fontFamily);
    color: var(--fg);
    z-index: 999;
  }

}